<input (keyup.enter)="addPost(newStudent)" #newStudent placeholder="Add new Student" type="text" class="form-control">
<br>

<div id="accordion">
  <div class="card" *ngFor="let post of posts; index as i ">
    <div class="card-header" style="width: 100%; ">
      <h5 class="mb-0">
        <div style="width: 60%; background-color: chartreuse" class="d-inline">
          <button class="btn btn-link " data-toggle="collapse" [attr.data-target]="'#'+i">
            {{post.firstName}} {{post.lastName}}
          </button>
        </div>
        <span style="width: 20%; background-color: cadetblue" class="d-inline">
          <button class="btn btn-sm " style="align-content: right;">
            <i class="material-icons">
              delete_forever
            </i>
          </button>
        </span>
        <!-- <a class="card-link" data-toggle="collapse" href="#itemid">
          {{i }} {{post.firstName}} {{post.lastName}}
        </a> -->
      </h5>
    </div>

    <div [attr.id]="i" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <p> Rollno: {{post.rollno}}</p>
        <p> englishMarks: {{post.englishMarks}}</p>
        <p> mathsMarks: {{post.mathsMarks}}</p>
        <p> scienceMarks: {{post.scienceMarks}}</p>
      </div>
    </div>
  </div>

</div>